---

import icon1 from "../../images/icon1.png"
import webimage4 from "../../images/webimage4.png"
import webimage5 from "../../images/webimage5.png"
import webimage6 from "../../images/webimage6.png"
import { Image } from 'astro:assets';

---

<div class="w-full h-[600px] mt-[100px]">
    <h1 class="text-center text-[58px] font-bold text-white">Trending AI's Of the Week</h1>
    <div class="w-full md:flex md:items-center md:justify-center mt-[80px]">
    <div class="w-[30%] h-[400px] glasscard rounded-tr-[200px] rounded-tl-[200px] rounded-br-[20px] rounded-bl-[20px]">
        <div class="w-[90%] h-[250px] bg-gray-600 rounded-tr-[200px] rounded-tl-[200px] ml-[20px] mt-[20px] flex items-center justify-center">
            <Image src={webimage4} alt="money sign" class="w-[250px] h-[250px]" >
            <!-- image here -->
            </>
        </div>
        <h1 class="text-left ml-[20px] mt-[10px] text-[28px] font-bold text-white">X Assistant</h1>
        <div class="flex items-center justify-center mt-[10px]">
            <div class="w-[75%] h-[60px]">
                <p class="text-left ml-[10px] mt-[5px] text-[14px] w-[80%] font-normal text-white">X Assistant Wil help you get trough your busy day in X or twitter.</p>
            </div>
            <div class="w-[25%] h-[60px] ml-[-30px] flex items-center justify-center">
                <Image src={icon1} alt="money sign" class="w-[30px] h-[30px] "/>
                <h1 class="text-[17px] ml-[0px] font-bold text-white">5.99</h1>
            </div>
        </div>

    </div>
    <div class="w-[30%] h-[400px] glasscard rounded-tr-[200px] rounded-tl-[200px] rounded-br-[20px] rounded-bl-[20px] ml-[30px]">
        <div class="w-[90%] h-[250px] bg-pink-300 rounded-tr-[200px] rounded-tl-[200px] ml-[20px] mt-[20px] flex items-center justify-center">
            <Image src={webimage5} alt="money sign" class="w-[250px] h-[250px]" >
            <!-- image here -->
            </>
        </div>
        <h1 class="text-left ml-[20px] mt-[10px] text-[28px] font-bold text-white">Essay Master</h1>
        <div class="flex items-center justify-center mt-[10px]">
            <div class="w-[75%] h-[60px]">
                <p class="text-left ml-[10px] mt-[5px] text-[14px] w-[80%] font-normal text-white">X Assistant Wil help you get trough your busy day in X or twitter.</p>
            </div>
            <div class="w-[25%] h-[60px] ml-[-30px] flex items-center justify-center">
                <Image src={icon1} alt="money sign" class="w-[30px] h-[30px] "/>
                <h1 class="text-[17px] ml-[0px] font-bold text-white">10.99</h1>
            </div>
        </div>
    </div>
    <div class="w-[30%] h-[400px] glasscard rounded-tr-[200px] rounded-tl-[200px] rounded-br-[20px] rounded-bl-[20px] ml-[30px]">
        <div class="w-[90%] h-[250px] bg-blue-300 rounded-tr-[200px] rounded-tl-[200px] ml-[20px] mt-[20px] flex items-center justify-center">
            <Image src={webimage6} alt="money sign" class="w-[250px] h-[250px]" >
            <!-- image here -->
            </>
        </div>
        <h1 class="text-left ml-[20px] mt-[10px] text-[28px] font-bold text-white">Muscle Coach</h1>
        <div class="flex items-center justify-center mt-[10px]">
            <div class="w-[75%] h-[60px]">
                <p class="text-left ml-[10px] mt-[5px] text-[14px] w-[80%] font-normal text-white">X Assistant Wil help you get trough your busy day in X or twitter.</p>
            </div>
            <div class="w-[25%] h-[60px] ml-[-30px] flex items-center justify-center">
                <Image src={icon1} alt="money sign" class="w-[30px] h-[30px] "/>
                <h1 class="text-[17px] ml-[0px] font-bold text-white">5.99</h1>
            </div>
        </div>
    </div>
    </div>
</div>


<style>
    .glasscard {
  background-color: #fff;
  color: black;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
}
</style>